*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  background-color: #e7f6ff;
}

ul[class],
ol[class] {
  list-style: none;
}

li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

svg {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.catalog {
  margin-bottom: 85px;
  padding-bottom: 40px;
  @media(max-width: 685px) {
    margin-bottom: 0;
  }
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #ffff;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
}

.orders {
  padding-bottom: 40px;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  @media(max-width: 985px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media(max-width: 685px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media(max-width: 485px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.empty-section {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  @media(max-width: 685px) {
    min-height: 100vh;
  }
  & img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 16px;
    opacity: 0.4;
    margin-bottom: 70px;
  }
}

.light {
  background-color: green;
}

.dark {
  background-color: purple;
}