.nav {
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        cursor: pointer;
        &:first-child {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 14px;
            color: #5C5C5C;
            & img {
                margin-right: 10px;
            }
        }
        &:hover .nav__fav {
            fill: #FF8585;
        }
    }
    &__item:not(:last-child) {
        margin-right: 30px;
    }
    &__fav {
        position: relative;
        top: 2px;
        width: 20px;
        height: 20px;
        fill: #9B9B9B;
        transition: fill 0.3s ease-in-out;
    }
}